/* Body and general styling */
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000; /* Black background */
    color: #00FF00; /* Green text */
}

/* Header styling */
header {
    background-color: #111;
    color: #00FF00;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #00FF00;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin-top: 10px;
    color: #00FF00;
    font-size: 1.1em;
}

/* Main content styling */
main {
    padding: 20px;
    text-align: center;
}

/* Shop item styling */
.shop-item {
    background-color: #111;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 255, 0, 0.3);
    border: 1px solid #00FF00;
    width: 200px;
    text-align: center;
    margin: auto;
}

.shop-item label {
    color: #00FF00; /* Green text */
    display: block;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.shop-item input[type="file"] {
    background-color: #000; /* Black background */
    color: #00FF00; /* Green text */
    border: 2px solid #00FF00; /* Green border */
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.shop-item input[type="file"]::file-selector-button {
    background-color: #00FF00; /* Green button */
    color: #000; /* Black text */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}


button {
    background-color: #111;
    color: #00FF00;
    border: 2px solid #00FF00;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #00FF00;
    color: #000;
    transform: scale(1.05);
}

button:active {
    background-color: #009900;
    color: #000;
    transform: scale(0.95);
}


/* Footer styling */
footer {
    background-color: #111;
    color: #00FF00;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #00FF00;
    position: fixed;
    bottom: 0;
    width: 100%;
}
